tox==3.6.0
sphinx-rtd-theme==0.4.2
m2r==0.2.1
aiohttp==3.5.0
graphene>=2.0dev
graphene-sqlalchemy==2.1.0
PyYAML==3.13
Sphinx==1.8.2
Yapsy==1.12.0
SqlAlchemy==1.2.15
pydash==4.7.4
coloredlogs==10.0
schema==0.6.8
guessit==3.0.3
